<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="salam.gohajj.id">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <permission
        android:name="permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.garudatekno.apps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->

    <application
        android:name="salam.gohajj.id.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo_apps"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="salam.gohajj.id.menu.splashscreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="salam.gohajj.id.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="salam.gohajj.id.activity.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.ActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="salam.gohajj.id.activity.MapsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <activity
            android:name="salam.gohajj.id.menu.AndroidImageSlider"
            android:label="Home"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
        <activity
            android:name="salam.gohajj.id.activity.MainActivity"
            android:label="Home"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.edit_profile"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.activity.SimpleMenu"
            android:label="Simple Menu"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.profile"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.TitipanDoa"
            android:label="Titipan Doa"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:launchMode="singleTop">
            <intent-filter android:label="Titipan Doa" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://gohajj.id/titipandoa" -->
                <data android:scheme="https"
                    android:host="gohajj.id"
                    android:pathPrefix="/titipandoa" />
            </intent-filter>
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.panduan"
            android:label="Panduan"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter android:label="Panduan" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://gohajj.id/doa" -->
                <data android:scheme="https"
                    android:host="gohajj.id" />
            </intent-filter>
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.emergency"
            android:label="Emergency"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.inbox"
            android:label="Inbox"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.go"
            android:label="GO"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.navigasi"
            android:label="Navigasi"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.Hotel"
            android:label="Hotel"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.add_hotel"
            android:label="Tambah Hotel"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.MapsActivity"
            android:label="Maps"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.PintuMasjid"
            android:label="Masjid (Pintu Masuk)"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.LihatPintuMasjid"
            android:label="Masjid (Pintu Masuk)"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.sai"
            android:label="Sai"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter android:label="SAI" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://gohajj.id/doa" -->
                <data android:scheme="https"
                    android:host="gohajj.id"
                    android:pathPrefix="/doa" />
            </intent-filter>
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.download"
            android:label="Download"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.ViewPanduanTips"
            android:label="View Panduan"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.ViewPanduanVideo"
            android:label="View Panduan"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.ViewPanduanDoa"
            android:label="View Panduan"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.ViewPanduankamus"
            android:label="View Panduan"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.thawaf"
            android:label="Thawaf"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter android:label="Thawaf" android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <!-- Accepts URIs that begin with "https://gohajj.id/doa" -->
            <data android:scheme="https"
                android:host="gohajj.id"
                android:pathPrefix="/doa" />
        </intent-filter>
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.ViewInbox"
            android:label="View Inbox"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name="salam.gohajj.id.menu.Poi"
            android:label="POI"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.GoPoi"
            android:label="Go POI"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.PenilaianPembimbing"
            android:label="Penilaian Pembimbing"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.PenilaianPemimpinTur"
            android:label="Penilaian"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.PenilaianTravel"
            android:label="Penilaian"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.SyaratKetentuan"
            android:label="Syarat Ketentuan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.Bantuan"
            android:label="Bantuan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.setting"
            android:label="Setting"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.PusatBantuan"
            android:label="Pusat Bantuan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.laporkanmasalah"
            android:label="Laporkan Masalah"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.kirimlaporan"
            android:label="Kirim Laporan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.layanan"
            android:label="Layanan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="salam.gohajj.id.menu.View_PusatBantuan"
            android:label="Pusat Bantuan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".menu.language"
            android:label="Language"
            android:screenOrientation="portrait">
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!--<meta-data-->
        <!--android:name="com.google.android.maps.v2.API_KEY"-->
        <!--android:value="AIzaSyCuVnGc4s77L0Yk8qIV91ll&#45;&#45;EI_FHQH74" />-->
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="salam.gohajj.id.gcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="salam.gohajj.id.gcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="salam.gohajj.id.activity.FetchAddressIntentService"
            android:exported="false" />


    </application>

</manifest>
